*{margin:0;padding:0;box-sizing:border-box;}
body {
	color:#222222;
	font-weight: normal;
	font-family: 'Playfair Display', serif;

}
h1 {
	font-family: 'Oswald', sans-serif;
	font-weight:700;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-style: italic;
}
.product {
	float:left;
	min-height:520px;
	padding:1em;
	width:33.33%;
}
.product img {
	width:100%;
}
