*{ margin:0; padding:0; box-sizing: border-box;}
body{
	background-image: url(images/stripes.png),
	url(images/background.jpg);
	background-repeat: repeat-x, no-repeat;
	background-size: auto, cover;
	background-color: #535a69;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 24px;
}
div{
	margin: 345px 0px 0px 200px;
}
hr{
	border-color: #fd6e6e;
	width: 48px;
}
p{
	margin: 30px 0px 20px 0px;
}