*{ margin:0; padding:0;}
body{
	background-image: url(images/stripes.png),
	url(images/background.jpg);
	background-repeat: repeat-x, no-repeat;
	background-size: auto, cover;
	color: #fd6e6e;
	font-family: helvetica, arial, sans-serif;
	font-size: 24px;
}
div{
	margin: 350px 0px 0px 200px;
}
hr{
	width: 48px;
}
p{
	margin: 30px 0px 20px 0px;
}