*{ margin:0; padding:0;}
body{
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 24px;
}
div{
	margin: 200px 0px 0px 100px;
}
hr{
	width: 48px;
}
p{
	margin: 30px 0px 0px 30px;
}