*{
	margin:0 0.25em 0em;
	padding:0;
	padding-bottom: -.5;
	border-spacing: 0em;
	box-sizing:border-box;
}
body {
	
	background color:#FFFFFF;
	font-weight: normal;
	font-family: 'Playfair Display', serif;
}
nav {
	background-color: #89FF00;
	font-family: 'Arial', sans-serif;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-style: italic;
}
.product {
	float:left;
	min-height: 535px;
	max-height: 600px;
	margin:0 0em -2em;
	padding: .5em;
	width: 33.33%;
}
.product img {
	width: 100%;
}
items {
	float:left;
	margin-left: 0em;
	display: block;
	position: relative;
	padding:2em 0em;
	vertical-align: baseline;
	width: 100em;
	height: 100%;
}

.cell phones {
	float:left;
	min-height: 230px;
	max-height: 600px;
	margin-left: 0 1em;
	padding-top: 1em;
	width: 4em;
}

.wireless providers {
	float:left;
	min-height: 5px;
	max-height: 30px;
	margin: .5em 0em 0em;
	padding-left: 0em 0em;
	width: 1em;
}

.videogames {
	float:left;
	min-height: 200px;
	max-height: 359px;
	margin-left: 1em 0em;
	padding-left: 1em;
	width: 100%;
}
.controllers {
	float:left;
	min-height: 400px;
	max-height: 500px;
	margin: 0em;
	padding-bottom: 0em 1em;
	width: 50%;
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
 	nav li {
 		display: inline;
 	}
  	.product {
 		width: 50%;
 	}
 	.wireless providers {
 		width: 25%;
 	}
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
 	#nav_menu {
 		float: right;
 		width: 25%;
 	}
	.product {
 		width: 100%;
 	}
 	section {
 		margin-left:;
 	}
 	.cell phones {
 		width: 100%;
 	}
 	.wireless providers {
 		width: 50%;
 	}
 