*{
	margin:0 0.25em 0em;
	padding:0;
	padding-bottom: -.5;
	border-spacing: 0em;
	box-sizing:border-box;
}
body {
	
	background color:#FFFFFF;
	font-weight: normal;
	font-family: 'Playfair Display', serif;
}
nav {
	background-color: #89FF00;
	font-family: 'Arial', sans-serif;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-style: italic;
}