*{ margin:0; padding:0; box-sizing: border-box;}

.schools {
	background-color:gold;
	background-repeat: no-repeat;
	float: left;
}
.schools img {
	float: left;
	width: 32.33%;
	margin: 1%;
	min-width: 40em;
	min-height: 25em;
	max-width: 80em;
	max-height: 50em;
}
.faculty {
	background-color:#888;
}

.clearfix {
	
}
