*{ margin:0; padding:0; box-sizing: border-box;}
body{
	margin: 1px 0px 0px 1px;
	border: 2px 0px 0px 2px;
	padding: 1px 1px 1px 1px;
	content: 0px 10px 0px 10px;
	background-color: gold;
	font-color: ;
}
section.schools{
	width: 33%;
	padding: 5px;
	margin: 2px 0px 2px 0px;
	float: left;
	font-size: 20px;
	color: #FFFFFF;
}
section.schools img{
	box-sizing: fixed-box;
	border-color: solid black;
	border: 4px;
	padding: 8px;
	margin: 1px;
	content: 0px;
	border-style: solid;
	max-height: 10em;
	max-width: 15em;
}
section.principal{
	width: 32%;
	margin: 0px 0px 0px 10px;
	padding: 50px 0px 0px 200px;
	content: 100px;
	float: left;
	font-size: 18px;
	max-height: 70px;
	font-family: sans-serif;
	color: #FFFFFF;
}
section.principal img{
	box-sizing: fixed-box;
	border-color: none;
	width: 50%;
	margin: 10px 0px 50px 10px;
	padding: 20px 0px 0px 0px;
	content: 50px;
	float: left;
	max-height: 50em;
	max-width: 100em;
}
section.superintendent{
	width: 40%;
	float: left;
	margin: 100px 0px 100px 0px;
	padding: 20px 10px 0px 10px;
	font-size: 26px;
	font-family: sans-serif;
	color: #FFFFFF;

}
section.superintedent img{
	box-sizing: fixed-box;
	border-color: none;
	border: 0px;
	margin: 25px 0px 20px 0px;
	padding: 250px 0px 50px 0px;
	content: 0px;
	max-height: 20px;
	max-width: 10em;
	width: 50%;
	float: left;
}