*{ margin:0; padding:0; box-sizing: border-box;}
body{
	margin: 1px 0px 0px 1px;
	border: 2px 0px 0px 2px;
	padding: 1px 1px 1px 1px;
	content: 0px 10px 0px 10px;
	background-color: gold;
	font-color: ;
}
section.schools{
	width: 33%;
	padding: 5px;
	margin: 2px 0px 2px 0px;
	float: left;
	font-size: 20px;
	color: #FFFFFF;
}
section.schools img{
	box-sizing: fixed-box;
	border-color: solid black;
	border: 4px;
	padding: 8px;
	margin: 1px;
	content: 0px;
	border-style: solid;
	max-height: 100px
}
section.principal{
	width: 32%;
	margin: 25px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	content: 50px;
	float: left;
	font-size: 18px;
	font-family: sans-serif;
	color: #FFFFFF;
}
section.superintendent{
	width: 45%;
	float: left;
	margin: 0px;
	font-size: 26px;
	font-family: sans-serif;
	color: #FFFFFF;

}