*{ margin:0; padding:0; box-sizing: border-box;}
body{
	margin: 1px
	border: 2px 0px 0px 2px;
	padding: 1px 1px 1px 1px;
	content: 0px 0px 0px 0px;
	background-color: gold;
	font-color: ;
}
section#schools{
	width: 33%;
	padding: 1px;
	float: left;
	font-size: 20px;
	color: #FFFFFF; 
}
section#schools img{
	border-color: solid black;
	border: 1px;
	border-style: solid;
}