*{ margin:0; padding:0; box-sizing: border-box;}

.schools {
	background-color:gold;
	background-repeat: no-repeat;
	float: left;
}
.schools img {
	float: none;
	width: 32.33%;
	margin: 1%;
	min-width: 20em;
	min-height: 15em;
	max-width: 30em;
	max-height: 40em;
}
.faculty {
	background-color:#F4F1C9;
}
.faculty.principal img {
	float: left;
	width: 32.33%;
	margin: 1%;
	min-width: 15em;
	min-height: 10em;
	max-width: 20em;
	max-height: 25em;
}
.faculty.superintendent img {
	float: left;
	width: 49%;
	margin: 1%;
}
.clearfix {
	
}
