<meta name=viewport content="width=device-width, initial-scale=1">

@media only screen and (min-width: 320px) and (max-width: 600px) {
 	#nav_menu {
 		float: right;
 		width: 25%;
 	}
 	.product {
 		float:left;
 		min-height: 520px;
 		padding: .5em;
 		width: 50%;
 	}
 .product img {
 	width: 50%;
 }
 	section {
 		margin-left: 
 	}
 }
@media screen and (min-width: 601px) and (max-width: 800px) {
 	nav li {
 		display: inline;
 	}
 
*{margin:0 0em 1em;
	padding:0;
	box-sizing:border-box;}
html {


}
body {
	background-image: url ("Electronic devices.jpg");
	color:#222222;
	font-weight: normal;
	font-family: 'Playfair Display', serif;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-style: italic;
}
.product {
	float:left;
	min-height: 520px;
	padding: 1em;
	width: 33.33%;
}
.product img {
	width: 33.33%;
	}
}