*{
	margin:4 0.1em .5em;
	padding:0;
	padding-bottom: -.5;
	border-spacing: 0em;
	box-sizing:border-box;
}
body {
	background-image: url ("Electronic devices.jpg");
	color:#222222;
	font-weight: normal;
	font-family: 'Playfair Display', serif;
}
nav {
	background-color: #89FF00;
	font-family: 'Arial', sans-serif;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-style: italic;
}
.product {
	float:left;
	min-height: 535px;
	max-height: 600px;
	padding: .5em;
	width: 33.33%;
}
.product img {
	width: 100%;
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
 	nav li {
 		display: inline;
 	}
  	.product {
 		width: 50%;
 	}
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
 	#nav_menu {
 		float: right;
 		width: 25%;
 	}
	.product {
 		width: 100%;
 	}
 	section {
 		margin-left:;
 	}
 }
