
*{
	margin:0 0em .5em;
	padding:0;
	box-sizing:border-box;
}
body {
	background-image: url ("Electronic devices.jpg");
	color:#222222;
	font-weight: normal;
	font-family: 'Playfair Display', serif;
}
nav {
	background-color: #89FF00;
	font-family: 'Arial', sans-serif;
