*{ margin:0; padding:0; box-sizing: border-box;}

.Westchester.North-South {
	background-color: #009933;
	background-repeat: no-repeat;
	float: left;
}
.Westchester.North-South img {
	width: 32.33%;
	margin: 1%;
	min-width: 5px;
	min-height: 10px;
	max-width: 30px;
	max-height: 40px;
	float: left;
}
.clearfix {
	overflow: auto;
}