*{ margin:0; padding:0; box-sizing: border-box;}

.North-SouthParkways {
	background-color: #009933;
	background-repeat: no-repeat;
	width: 100%;
	float: left;
	padding: 0px 20px 0px 20px;
	margin: 0px 0px 0px 0px;
}
.North-SouthParkways img {
	width: 32.33%;
	margin: 1%;
	min-width: 15em;
	min-height: 10em;
	max-width: 25em;
	max-height: 20em;
	height: 0em;
	text-align: center;
	float: left;
	padding: 20px 40px 20px 40px;
	margin: 20px 10px 20px 10px;
}
.East-West {
	background-color: #99ff33;
	background-repeat: no-repeat;
	width: 100%;
	float: left;
	padding: 0px 25px 0px 25px;
	margin: 0px 0px 0px 0px;
}
.East-West img {
	width: 49%;
	margin: 1%;
	min-width: 15em;
	min-height: 10em;
	max-width: 25em;
	max-height: 15em;
	text-align: center;
	float: left;
	padding: 10px 40px 10px 40px;
	margin: 15px 0px 15px 0px;	
}
.Westchester-Bronx {
	background-color: #663300;
	background-repeat: no-repeat;
	width: 100%;
	float: left;
	padding: 0px 25px 0px 25px;
	margin: 0px 0px 0px 0px;
}
.Westchester-Bronx img {
	width: 49%;
	margin: 1%;
	min-width: 15em;
	min-height: 10em;
	max-width: 35em;
	max-height: 15em;
	text-align: center;
	float: left;
	padding: 10px 20px 10px 20px;
	margin: 15px 0px 15px 0px;
}
h1 {
	font-family: sans-serif;
}
.clearfix {
	overflow: auto;
}