*{ margin:0; padding:0; box-sizing: border-box;}

.Westchester.North-South {
	background-color: #009933;
	background-repeat: no-repeat;
	float: left;
}
.Westchester.North-South img {
	width: 32.33%;
	margin: 1%;
	min-width: 5px;
	min-height: 10px;
	max-width: 20px;
	max-height: 30px;
	float: left;
}
.Westchester-BronxParkways {
	background-color: #663300;
	background-repeat: no-repeat;
	float: left;
	padding: 25px 125px 25px 125px;
}
.Westchester-BronxParkways img {
	width: 49%;
	margin: 1%;
	min-width: 200px;
	min-height: 180px;
	max-width: 700px;
	max-height: 400px;
	float: left;
	padding: 50px 200px 50px 200px;
	margin: 50px 250px 50px 250px;
}
.clearfix {
	overflow: auto;
}