*{ margin:0; padding:0; box-sizing; border-box;
	}
p + p {margin-top: 1em;}
p + a {margin-top: 1.5em;}
body{
	background-image: url(images/background.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight:100; 
}
section {
		padding:5em 0;
}
section#splash {
	height: 100vh;
}
section#splash div {
	padding: 15em 0 0 200px;
}
section#mainContent {
	background:#E91E63;
}
section#mainContent div {
		margin:0 auto;
		max-width: 75em;
}
section#cast {
	background:rgba(129,212,250,.8);
}
section#cast div {
	margin:0 auto;
	max-width: 75em;
}
section#cast .players {
	background:rgba(3, 169, 244, 1);
	border-radius:.5em;
	color:#fff;
	float:left;
	margin:.5%;
	min-height: 16em;
	padding:1em 2em 1em 1em;
	position: relative;
	text-align:justify;
	width:49%;
}