*{ margin:0; padding:0; box-sizing; border-box;}
body{
	background-image: url(images/background.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight:100; 
}
