*{ margin:0; padding:0; box-sizing: border-box;}
body{
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family:sans-serif;
	margin:0em;
}
h1{
	font-family: sans-serif; bold;
}

section#footer{
	font-size: 110px;
	padding: 4em 0em 1em 0em;
	color:#FFFFFF;
}
section#classnote{
	font-size: 16px;
	padding: 1px 0px 1px 0px;
	word-spacing: 5px;
	color:#FFFFFF;
}
section#classnote{
	position: relative;
	box-sizing: border-box;
	height: 50px;
	width: 100px;
	background-color: #e91e63;
	float: left;
	width: 32%;
}
section#players{
	box-sizing: box;
	background-color: #03a9f4;
	margin: .5em;
	content: 2em;
	float: left;
	width: 48%;
	color:#FFFFFF;
}