*{ margin:0; padding:0; box-sizing: border-box;}
body{
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family:sans-serif;
	margin:0em;
}
h1{
	font-family: sans-serif; bold;
}

section.footer{
	font-size: 110px;
	padding: 4em 0em 1em 0em;
	color:#FFFFFF;
}
section.classnote{
	font-size: 16px;
	padding: 5px 4px 5px 4px;
	margin: 4px 0px 4px 0px;
	word-spacing: 5px;
	color:#FFFFFF;
	position: relative;
	box-sizing: border-box;
	background-color: #e91e63;
	float: left;
	width: 33.33%;
	border: 5px;
}
section.players{
	display: inline;
	font-size: 16px;
	box-sizing: box;
	background-color: #03a9f4;
	margin: 0px 2px 0px 2px;
	content: 1px;
	float: left;
	width: 48%;
	color:#FFFFFF;
}
section.players h1{
	padding-right: 50%;
	word-spacing: 10px 0px 0px 0px;
}
section.players{
	padding: 4px 2px 4px 0px;

}
section.players img{
	border-radius: 50%;
	border-image: 100% round;
	padding-left: 0px;
}