*{ margin:0; padding:0; box-sizing: border-box;}
body{
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	font-size: 40px;
	margin:;
}
h1{
	font-family: sans-serif;
}

section#footer{
	font-size: 64px;
	padding: 4em 0em 2em 0em;
	color:#FFFFFF;
}