*{ margin:0; padding:0; box-sizing: border-box;}
body{
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family:sans-serif;
	margin:0em;
}
h1{
	font-family: sans-serif;
}

section#footer{
	font-size: 80px;
	padding: 4em 0em 1em 0em;
	color:#FFFFFF;
}
section#classnote{
	font-size: 20px;
	padding: 0;
	border: 10px;
	color:#FFFFFF;
}
section#classnote{
	box-sizing: border-box;
	background-color: #e91e63;
	border-width: 33.33%
}